.container {
    display: flex;
    justify-content: space-between;
}


.perfil {
    display: flex;
    align-items: center;
}


.perfil .foto-perfil {
    margin-right: 8px;
}


.link-menu-codigo {
    display: inline-flex;
    align-items: center;
}


.link-menu-comunidade {
    display: inline-flex;
    align-items: center;
}


form {
    

}

form input {
    display: block;
}



/*
.projeto-pessoal {
    display: flex;
    flex-direction: column;
}


.projeto-pessoal p {
    text-align: start;
}


.projeto-pessoal .projeto {
    display: grid;
    justify-items: end;
}
*/


