/* header */
.cabecalhoPrincipal .container-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.container-cabecalho .botao-pagina-principal {
    width: 17.5%;
}

.container-cabecalho .input-busca {
    width: 55%;
}

.container-cabecalho .container-perfil {
    width: 27.5%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: flex-end;
}

.container-perfil .perfil {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

/* main */
.conteudo-principal {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

/* container menu */
.conteudo-principal .menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    flex-grow: 1;
}

.menu p {
    margin: 0;
    flex-grow: 0;
}

.menu .menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
}


.menu-nav .lista-menu  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    height: 135px;
}

.ancoras .itens-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* container caixa editora */

.caixa-containers {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.conteudo-principal .container-caixa-editora {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.container-caixa-editora .fundo-caixa-editora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-caixa-editora .botoes-caixa-editora {
    display: flex;
}

#caixa-editora {
    margin: 25px;
}
