.container-cabecalho {
    display: flex;
    justify-content: space-between;
}


.perfil {
    display: flex;
    align-items: center;
}


.perfil .foto-perfil {
    margin-right: 8px;
}

.conteudo-principal {
    display: flex;
    align-items: top;
    justify-content: space-between;   
}

menu {
    width: 25%;
}

.link-menu-codigo {
    display: inline-flex;
    align-items: center;
}


.link-menu-comunidade {
    display: inline-flex;
    align-items: center;
}

.container-caixa-editora {
    width: 50%;
}

.fundo-caixa-editora {
    display: flex;   
}

.botoes-caixa-editora {
    display: flex;   
    justify-content: space-between;
    width: 5%;
}

form input {
    display: block;
}

.form-projeto {
    width: 25%;
}
 
