@charset "UTF-8";

:root {
    --cor0: #051D3B;
    --cor1: #2D415A;
    --cor2: #5081FB;
    --cor3: #6BD1FF;
    --cor4: 
}


* {
    margin: 0px;
    padding: 0px;
}


body {
    background: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.05rem;
}


header {
    position: relative;
    width: 1312px;
    height: 56px;
    left: auto;
    top: 32px;  
    padding: 10px 10px 10px 32px;
    margin: auto;
    margin-bottom: 40px;
}


.logo-alura {
    padding-top: 51.7xp;
}


.input-busca {
    width: 752px;
    height: 56px;
    background: var(--cor1);
    text-decoration: none;
    border-radius: 8px;
    border-style: none;
    margin-left: 30px;
    padding: 1px 14px;
    font-size: 1.1em;
}


.perfil {
    margin-right: 32px;
}


.perfil .usuario {
    color: white;
}


main {
    
}


main .menu {
    margin-left: auto;
    padding-left: 32px;
    color: white;
}

.menu .menu-nav {
    width: 290px;
}


li {
    list-style: none;
    padding: 10px 0px 6px 0px;
}


.link-menu-codigo {
    text-decoration: none;
    color: white;
}


.link-menu-codigo .img-editor {
    padding-right: 16px;
}


.link-menu-comunidade {
    text-decoration: none;
    color: lightgrey;
}

.link-menu-comunidade .img-comunidade {
    padding-right: 16px;
}

form {
    color: white;
    margin: 16px 0;
    padding: 10px;
}


form p {
    text-transform: uppercase;
    letter-spacing: 0.09rem;
}

.input-projeto, select {
    width: 20%;
    margin: 16px 0;
    padding: 16px 99px 16px 14px;
    background: var(--cor1);
    border: none;
    border-radius: 8px;
}

.textarea-projeto {
    margin-top: 0;
    margin-bottom: 40px;
    width: 20%;
    padding: 16px 99px 16px 14px;
    background: var(--cor1);
    border: none;
    border-radius: 8px;
}

.input-projeto::placeholder, .textarea-projeto::placeholder {
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}

option {
    color: white;
}

.input-submit {
    width: 20%;
    margin: 16px 0;
    padding: 16px 99px 16px 14px;
    background: var(--cor3);
    border: none;
    border-radius: 8px;
    text-align: right;
}




/*
.projeto-pessoal {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    margin-right: 32px; 
}


.projeto-pessoal p {
    letter-spacing: 0.3rem;
}


.projeto .nome-projeto {
    width: 272px;
    height: 56px;
    margin: 16px 0;
    background-color: var(--cor1);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 1px 14px;
    font-size: 1em;
    justify-self: self-start;
}


.projeto .descricao-projeto {
    width: 272px;
    height: 80px;
    background-color: var(--cor1);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 1px 14px;
    font-size: 1em;
    justify-self: self-start;
}
*/