@charset "UTF-8";

:root {
    --cor0: #051D3B;
    --cor1: #2D415A;
    --cor2: #5081FB;
    --cor3: #6BD1FF; 
    --cor4: #5081FB14;
}

body {
    background: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.05rem;
}

/* Header */

.botao-pagina-principal .logo-alura {
    width: 130px;
    height: 60px;
}

.container-cabecalho .input-busca {
    height: 56px;
    padding: 0 8px;
    background-color: var(--cor1);
    border: none;
    border-radius: 8px;
}

.container-cabecalho .perfil {
    box-sizing: border-box;
    border-radius: 8px;
}
    

.perfil .foto-perfil {
    width: 32px;
}

/* Main */

main {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.05rem;
}

main a {
    color: white;
    text-decoration: none;
}
p, legend {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 12px;
}

li {
    list-style-type: none;
}

.ancoras .img-editor {
    box-sizing: border-box;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    background-color: var(--cor3);
}

.fundo-caixa-editora {
    background-color: var(--cor3);
    border-radius: 8px;
}

#caixa-editora {
    background-color: black;
    border-radius: 8px;
}

.container-caixa-editora .botao-highlight {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    color: white;
    height: 56px;
    padding: 0 14px;
    background-color: var(--cor4);
    border: none;
    border-radius: 8px;
}

.dados-projeto .input-projeto {
    height: 56px;
    padding: 0 8px;
    background-color: var(--cor1);
    border: none;
    border-radius: 8px;
}

#descricao-projeto {
    padding: 5px 8px;
    background-color: var(--cor1);
    border: none;
    border-radius: 8px;
}

.dados-projeto .linguagem {
    height: 56px;
    padding: 0 8px;
    background-color: var(--cor1);
    border: none;
    border-radius: 8px;
    color: white;
}

.dados-projeto .cor-fundo {
    width: 100%;
    height: 56px;
    padding: 0 8px;
    background-color: var(--cor0);
    border-radius: 8px;
    border-style: white;
}

.dados-projeto .input-submit {
    height: 56px;
    padding: 0 8px;
    background-color: var(--cor2);
    border: none;
    border-radius: 8px;
}