@charset "UTF-8";

:root {
    --cor0: #051D3B;
    --cor1: #2D415A;
    --cor2: #5081FB;
    --cor3: #6BD1FF;
    --cor4: 
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor0);
    
}

header {
    position: absolute;
    width: 1376px;
    height: 56px;
    left: 32px;
    top: 32px;  
}

.topo {
    display: flex;
}

.logo-alura {
    padding-top: 51.7xp;
    padding-left: 32px;
}

.input-busca {
    width: 752px;
    height: 56px;
    background: var(--cor1);
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    padding: 1px 14px;
    font-size: 1.1em;
}